* {
    padding: 0;
    margin: 0;
    font-family: popins;
}

body {
    background-color: black;
}

#header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
}

#container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    width: 200px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;

}

nav ul li a::after {
    content: '';
    background: #a75555;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 44px;
    color: #fff;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
    color: #fff;
}
.about-img img{
    width: 35vw;
    margin: 60px;
    border-radius: 10px;
}
.heading{
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;


}
.about-content h3{
    font-size: 30px;
    margin: 20px;
}
.about-content p{
    font-size: 20px;
    margin:2rem 0 3rem;
}
.information{
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 12px 0px;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url(images/pexels-markusspiske-360591.jpg);
    background-size: contain;
}
.me{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.box{
    margin: 30px;
    padding: 10px;
    background-color: #9b7373;
    flex-basis: 31%;
    transition: 0.5s;
    box-sizing: border-box;
}
.column{
    font-size: 24px;
    margin: 80px;
    padding: 9 px;
    text-align: center;
}
.info{
    font-size: 24px;
    margin: 20px;
    padding: 9px;
}
.contact{
    text-align: center;
    color: #fff;
 font-size: 50px;
}
.mail{
    text-align: center;
    color: #fff;
 font-size: 15px;
 margin: 20px;
 padding: 30px;
}

@media only screen and (max-width:600px){
    #header{
        background-image: url(images/straight.jpg);
    }
}
